
.cards{
    width: 100%;
    height: 45%;
}
.card{
 //  design
     display: flex;
     flex-direction: column;
     margin-bottom: 5%;
    
   
    &__title{
        font-size: 1.2em;
        padding: 0 5%;
        color: $color__font-aside--base;
    }

    &__imageProfile{
      
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    
    }

    &__content{
        
        flex: 1 1 auto;
        display: block;
       // padding: 5% 5% 3% 5%;
       padding: 0 5%;
        color:$color__font-aside--important;
        width: 28rem;
        
    }

    &__position{
        padding: 0 5%;
        color: $color__font-aside--base;
    }
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    &__item{
        flex-basis: 200px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        border: 3px solid black;
        background-color: $color__secondary;
    }
}