.navbar-container{

    display: flex;
    justify-content: center;
    align-content: center;

    &__text{

        flex: 1 1 200px; 
        display: flex;
        justify-content: center;

        &__children{  


            font-size: 1em;
            flex: 1 1 200px;
            align-self: center;
            margin: auto 15%;
        }

    }

    &__title {
        min-height: 64px;
        display: flex;
        margin: auto 12%;

        &__img{
            width: 48px;
            height: 48px;
            align-self: center;
            padding: .2em;
        }

        &__text {
            margin-top: 25%;
        }
    }

    &__input{

     flex-basis: 150px;
     
     margin: auto 12%;
     align-self: center;

    }   
}