@import '../base/colors';

.container__sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  align-items: center;
  background-color: $color__secondary--light;
}

.sub__title {
  color: $color__font-main__base;
  margin-top: 0;
}

.sub__description {
  color: $color__font-aside__base;
  margin-bottom: 25px;
}

.sub__form {
  height: 30px;

  &__button {
    margin-left: 10px;
    padding: 0 20px;
    height: 100%;
    vertical-align: middle;
  }

  &__input {
    height: 100%;
    vertical-align: middle;
  }
}