$color__font-main--base: #d6d6d6;
$color__font-main--important: #ffffff;
$color__font-aside--base: #798da3;
$color__font-aside--important: #3b4754; 

$color__primary: #2E648B;
$color__primary--light: #5090BE;
$color__primary--dark: #1E4058;
$color__primary--dark-light: #255577;

$color__secondary: #1E2A32;
$color__secondary--dark: #171F25;
$color__secondary--light: #29323d;

$color__danger: #ff7043;