@import '../base/colors';

.input {
	height: 2.5em;
	background-color: $color__secondary;
	color: $color__font-aside--base;
	border: solid 2px $color__secondary--dark;
	border-radius: 3px;

	&:focus {
		border-color: $color__primary;
		color: $color__font-main--base;
		outline: none;
	}

	&--search {
		border-width: 3px;
		border-color: $color__font-main--base;
		border-radius: 500px;
		padding: 5px 10px 5px 30px;

		background-image: url('../img/search.png');
		background-repeat: no-repeat;
		background-position: 3% center;

		&:focus {
			border-color: $color__primary--light;
		}
	}
}

.input::placeholder {
	color: darken($color__font-aside--base, 10%);
}
