.container__nr__elements{

    display: flex;
   
    flex-direction: column;
    justify-content:space-between;
    
    margin: 5%;
    &__paragraph{
        
        
    
        align-content: center;
        align-self: center;
        
        text-align: center;
        width: 80%;
        margin: 1%;
        border: 1.5px solid $color__secondary--light;
       
        background: $color__secondary;

        p:nth-child(2n){

            color: orange;
        }

     
       
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
    }


}