.cards {
	//  width: 80%;
	margin: 0 auto;
	height: 10%;
	grid-area: reports;
}
.card {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	box-shadow: 5px 5px 12px #141414;
	&__title {
		flex: 1 1 auto;
		font-size: 1.2em;
		padding: 0 5%;
		color: $color__font-aside--base;
	}
	&__imageProfile {
		flex: 1 1 auto;
		display: block;
		max-width: 100%;
		height: 300px;
		@media (min-width: 500px) {
			height: 150px;
		}
	}

	&__imageProfile:hover {
		opacity: 92%;
		filter: contrast(100%);
	}
	&__content {
		flex: 1 1 auto;
		display: block;
		padding: 0 5%;
		color: $color__font-aside--important;
	}
	&__position {
		flex: 1 1 auto;
		padding: 0 5%;
		color: $color__font-aside--base;
	}
}
.card-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item {
		@media (min-width: 500px) {
			flex-basis: 300px;
		}
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		border: 3px solid black;
		background-color: $color__secondary;
	}
}
.cards-title {
	text-align: center;
	margin: 0;
	margin-bottom: 1em;
	text-shadow: 5px 5px 12px #141414;
	font-size: 2em;
}
