@import '../base/colors';

.footer-container {
  padding: 0 10%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  border-bottom: 1px solid white;

  &__text {
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;

    &__link {
      font-size: 14pt;
      align-self: center;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__txtlogo {
    flex: auto;
    font-weight: bold;
    font-size: 18pt;
    align-self: center;
    padding: 0.2em;
    color: rgb(240, 248, 255);
  }
}

.container__footer {
  p {
    margin: 5px 15%;
    color: $color__font-aside--base;
    font-size: 8pt;
  }
}