.navbar-container {
	@media (max-width: 700px) {
		flex-direction: column;
	}

	> a:first-child {
		align-self: center;
	}

	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 80%;
	margin: 0 auto;

	&__support {
		display: block;
	}

	// ok

	&__text {
		@media (max-width: 700px) {
			flex-direction: column;
			flex-basis: 0;
		}

		flex-basis: 350px;
		display: flex;
		justify-content: space-around;

		&__children {
			font-size: 1em;
			// flex: 1 1 200px;
			align-self: center;
			// margin-top: auto;
			// margin-bottom: auto;

			// margin-right: 15%;
			// margin-left: 20%;
		}
	}

	&__img {
		margin: 5px;
		width: 48px;
		height: 48px;

		@media (max-width: 700px) {
			display: inline;
			margin: 0 auto;

			width: 60px;
			height: 60px;
			padding: 0.5em;
		}
	}

	&__dropdown {
		position: relative;
		align-self: center;
		margin-right: 11%;
		flex-basis: auto;

		&__button {
			transform: rotate(90deg);
			align-content: center;

			padding: 0.3%;
			width: 35px;
			height: 35px;

			background: rgb(184, 181, 181);
			color: black;

			border-radius: 18%;

			@media (max-width: 990px) {
				display: none;
			}
		}

		&__link {
			position: absolute;
			text-decoration: none;
			margin-top: 10%;
			display: none;
			font-size: 18px;
			padding: 6%;
			color: black;
			background: rgb(248, 247, 247);
		}
	}

	&__dropdown:hover {
		button {
			background: rgb(248, 247, 247);
		}

		a {
			display: block;
			width: 70px;
			height: 20px;
		}
	}

	&__hamburger {
		flex-basis: 50px;
		flex-grow: 1 1 auto;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 38%;
		margin-right: 0.1%;
		align-self: center;

		span {
			display: block;
			margin-bottom: 5px;
			background: #cdcdcd;
			width: 33px;
			height: 4px;
		}

		@media (min-width: 700px) {
			display: none;
		}

		@media (max-width: 700px) {
			display: inline;
		}
	}
}
