.notFound__page{

    text-align: center;
    display: block;

    margin: 18% 30%;
    
    &__error{

        font-size: 55px;
        color: rgb(240,248,255);

    }

    &__txtErr{

        font-size: 32px;
    }

    &____txtDescr{

        font-size: 25px;
    }
}