@import '../base/colors';

.container__pie {
	border: 2px solid $color__font-aside--important;
	padding-top: 20px;
	width: 80%;
	margin: 0 auto 4em;

	@media (max-width: 992px) {
		width: 70%;
		margin: 0 auto;
	}

	&__chart {
		margin-top: 15%;
	}
}

.container__bar {
	@media (max-width: 992px) {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}

.container__map {
	@media (max-width: 992px) {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}
